/* İmport Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* General Styling */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Calculator */
.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px,auto) repeat(5,100px);
}

.calculator-grid button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background: #5db0f0;
}

.calculator-grid button:hover{
    background: #ccc;
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1 / -1;
    background: #ccc;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    color: rgb(238, 238, 238);
    font-size: 1.5rem;
}

.output .current-operand{
    color: #fff;
    font-size: 2.5rem;
}